                                  <style>
* { box-sizing: border-box; }
body { font-family:Verdana, Arial, sans-serif;
       background-color: #5C0099;
}
#wrapper { background-color: #DDCCFF; 
           color: #000066;
           width: 100%;
		   margin: auto;
} 
header { background-color: #A64DFF;
        color: #4D0066; 
		padding: 15px;
        text-align: center;
}
header h1 { text-align: center;
 }

.topnav {
  background-color: #DDCCFF;
  overflow: hidden;
}


.topnav a {
  color: #4D0066;
  text-align: center;
  margin: 165px;
  text-decoration: none;
  font-size: 25px;
}


.topnav a:hover {
  background-color: #aa80ff;
  color: black;
}

main { background-color: #ffffff;
           color: #000000;
		   padding: 10px 20px;
	       overflow: auto; 
} 

h2 { color: #4D0066; 
     font-family: arial, sans-serif;
     font-style: bold;
     margin: 5px;
     text-align: center;
}

h3 { color: #4D0066; 
     font-family: arial, sans-serif;
     font-style: bold;
     margin: 5px;
     text-align: center;
}


img {
  width: 15%;
  height: 8%;
  margin: 85px;
}

footer {font-size:70%;
         text-align: center;
         padding: 10px;
         background-color: #A64DFF;
		 clear: both;
}
header, main, nav, footer { display: block; }
</style>                    